.search-bar {
  margin: 20px;
  text-align: center;
}

.search-bar input {
  width: 100%;
}

.list-group-item {
  cursor: pointer;
}

.list-group-item:hover {
  background-color: #eee;
}

.App {
  max-width: 800px;
  margin: 0 auto;
}

.Sidebar ul {
  width: 100%;
  padding-left: 0;
}
